body {
  padding: 10px 5px;
  text-align: center;
  input textarea{
  	margin-bottom: 6px;
  }
  .section {
  	margin-bottom: 5px;
  	margin-top: 5px;
  	
  	.subsection {
	  	margin-bottom: 10px;
  	}
  }
}
